# ===== C# .NET =====
## Ignore arquivos binários e de build
bin/
obj/
out/
*.exe
*.dll
*.pdb
*.nuspec
*.cache
*.log
*.zip
*.tar.gz
random_number.py
.venv
.env

## Ignore configurações locais do Visual Studio
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.cache
*.vscode/
*.ncb
*.mode1v3
*.mode2v3
*.vcxproj.user

## Ignore pacotes e dependências
*.vs/
packages/
node_modules/
!**/bin/
!**/obj/

## Ignore arquivos temporários
*.tmp
*.bak
*.swp
*.swo

## Ignore secrets e arquivos de configuração sensíveis
secrets.json
appsettings.json
appsettings.Development.json
.env
.env.local
.env.development
.env.production
.env.test

## Ignore arquivos gerados pelo Docker
docker-compose.override.yml
docker-compose.override.json
docker-compose.debug.yml
docker-compose.debug.json
cs.net/.vs/

# ===== React =====
## Dependências
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml
build/
dist/
.cache/
coverage/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.idea/
.DS_Store
.eslintcache
.parcel-cache/
.next/
out/
.vercel/
netlify/

## Arquivos de build
build/
dist/
.cache/
*.log
*.gz

## Configurações do editor
.vscode/
.idea/

## Coverage e testes
coverage/
.nyc_output/
jest-cache/
jest/

# ===== SQL Server =====
## Arquivos do banco de dados local
*.mdf
*.ldf
*.bak
*.sqlproj.user
*.dbproj.suo

# ===== Docker =====
## Ignore volumes, caches e builds locais
**/docker-compose.override.yml
**/docker-compose.override.json
**/docker-compose.debug.yml
**/docker-compose.debug.json
**/.dockerignore
cs.net/.vs/

# ===== Outros =====
# Arquivos de log e temporários
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
