# ===== C# .NET =====
## Ignore arquivos binários e de build
bin/
obj/
out/
*.exe
*.dll
*.pdb
*.nuspec
*.cache
*.log
*.zip
*.tar.gz

## Privates
.config/
.venv/
react/README-install.md


## Ignore configurações locais do Visual Studio e Rider
.vs/
.vscode/
.idea/
.Rider/
**/.idea/
*.suo
*.user
*.userosscache
*.sln.cache
*.ncb
*.mode1v3
*.mode2v3
*.vcxproj.user
*.sln.iml  # Rider solution metadata

## Ignore pacotes e dependências
packages/

## Ignore arquivos temporários
*.tmp
*.bak
*.swp
*.swo

## Ignore secrets e arquivos de configuração sensíveis
secrets.json
appsettings.json
appsettings.Development.json
.env
.env.local
.env.development
.env.production
.env.test

## Dependências do .NET
project.lock.json
global.json

# ===== React =====
## Dependências
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

## Build e cache
build/
dist/
.cache/
coverage/
.next/
out/
.vercel/
netlify/

## Configurações do editor
.vscode/
.idea/
.Rider/

## Coverage e testes
.nyc_output/
jest-cache/
jest/

## Storybook
storybook-static/

## Material UI Icons (se baixados localmente)
public/material-icons/

# ===== SQL Server =====
## Arquivos do banco de dados local
*.mdf
*.ldf
*.bak
*.sqlproj.user
*.dbproj.suo

# ===== Docker =====
## Ignore volumes, caches e builds locais
**/docker-compose.override.yml
**/docker-compose.override.json
**/docker-compose.debug.yml
**/docker-compose.debug.json
**/.dockerignore
.docker/
docker-compose.yml # Se você tiver um arquivo principal de docker-compose

# ===== RabbitMQ =====
## Ignore arquivos temporários ou logs do RabbitMQ
.rabbitmq/

# ===== Outros =====
# Arquivos de log e temporários
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

